<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>login</title>
    <script src="/bootstrap/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/sweetalert/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="text-center" cz-shortcut-listen="true">   
<main class="form-signin w-50 m-auto">
  <form action="#" id="formLogin">
    <img class="mb-4" src="/css/images/iconoLogin.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

    <div class="container d-flex align-items-center flex-lg-wrap" id="inputs">
      <div class="form-floating">
          <input type="text" class="form-control" id="username" placeholder="admin">
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control " id="password" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
  </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recordar contraseña
      </label>
    </div>
    <button class=" btn btn-lg btn-primary" id="btn-submit" type="submit">Iniciar</button>
    <p class="mt-5 mb-3 text-body-secondary">© Todos los derechos reservados 2023</p>
  </form>
</main>

<script src="js/auth.js"></script>
<script src="/popper/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="/bootstrap/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>