@import url("reset.css");

body {
	font-size:12px; 
	line-height:1.22; color: #000;
	color: #1A1A1A;
	font-family: Arial,Helvetica,sans-serif;
}

h1{font-size:22px; }
h2{font-size:20px; }
h3{font-size:18px; }
h4{font-size:16px; }
h5{font-size:14px; }
p{
	margin:2px 0; 
}

ul {
	margin: 5px 20px;
	padding:0;
	list-style: disc;
 	
}
 ul li{
	margin: 2px;
	padding:2px ;
	background:none;
}

table { 
	border-collapse:collapse; 
	font-size:12px;
	/*margin:20px; */
}

.a4 {
	width:700px;
	height:1000px;
}
.wa4{
	width: 700px;
}
.ha4{
	height:1000px;
}

.legal {
	width:700px;
	height:1200px;
}
.wlegal{
	width: 700px;
}
.hlegal{
	height:1200px;
}

.a4.h {
	width:1000px;
	height:700px;
}
.legal.h {
	width:1200px;
	height:700px;
}


.borderDotted{border-style:dotted;}
.borderDouble{border-style: double; border-width: 3px !important;}

.borderTop{border-top: 1px solid #000}
.borderLeft{border-left: 1px solid #000}
.borderBottom{border-bottom: 1px solid #000}
.borderRight{border-right: 1px solid #000}

.page{ display:block;}
.hidePrint{ display:none;}

.break{
	page-break-before:always; 
	height:0;
}

break{
	page-break-before:always; 
	height:0;
}


table table{ 
	/*margin:10px 20px; */
}
table.border, table.border td, table.border tr th{ 
	border:1px solid #000;
}
table.tableborder { 
	border:1px solid #000;
}
td {
	border-bottom:1px solid #000;
	padding:2px;
}
tr.borderleft td{
	border-left:1px solid #000;
}
td:first {border-left:none !important;}
tr.borderleft td:first {border-left:none !important;}

tr th{
	font-size:12px;
	padding:2px;
	font-weight:bold;
}

tr.alt td{
	background-color: #E3E3E3;
}
tr.odd td{
	background-color: #C7C7C7;
}
.black td,.black th{
	background-color: #000;
	border-bottom: 1px solid #000;
	color: #FFF;
}
.red td,.red th{
	background-color: #BA2125;
	border-bottom: 1px solid #000;
	color: #FFF;
}
.green td,.green th{
	background-color: #3d9400;
	border-bottom: 1px solid #A6D50F;
	color: #FFF;
}
.blue td,.blue th{
	background-color: #0080C0;
	border-bottom: 1px solid #000;
	color: #FFF;
}
.sum td, .sum th {
    background-color: #D9EBF5;
    border-top: 1px solid #0080C0;
}
table.small { 
	font-size:10px;
}
table.small  tr th{
	padding:1px;
	font-size:10px;
}
table.small  tr td{
	 padding:1px;
}
table.small  tr th:first{
	border-left:none;
}

table.noborder, table.noborder td, table.noborder tr th{ 
	border:none;
	border-bottom:none;
}
table.border td.noborder{
	border:none !important;
}
.noprint{display:none;}
/*
ul {
	margin: 5px 20px;
	padding:0;
	list-style: none;

	
}
ul li{
	margin: 2px;
	padding:2px 2px 2px 18px;
	background: url(images/icons/16/bullet_arrow_right.png) no-repeat top left;

}
*/