
main{
    background-color: white;
}
/* #inputs{
    padding-left: 10%;
} */

/* #username{
    width: 200%;
}
#password{
    width: 200%;
} */
#btn-submit{
    width: 200px;
}
form{
    margin-top:85px ;
    border-radius: 5px;
}

