<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>SGI - CARGAR INFORMES</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script src="/sweetalert/sweetalert2@11"></script>
</head>

<body>
  <%- include('./partials/headers-aside.ejs');%>
    <div class="form-editar col-9 bgForm py-2" style="margin-top: 70px;" >
      <br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">        
            <div class=" container d-flex">
            <h4>Editar Informes</h4>
          </div>
        </h4>
        </div>
      </div>
      <br>
      <div class="card mb-5">
        <div class="card-body">
          <div class="container d-flex">
            <form action="" class="row g-3 needs-validation" id="form-editar">
              <div class="col-md-3 position-relative">
                  <label for="validationTooltip04" class="form-label">Departamento</label>
                  <select class="form-select" id="selecDepartamento" required>
                    <option value="1">Formosa</option>
                    <option value="2">Pilcomayo</option>
                    <option value="3">Pilagás</option>
                    <option value="4">Laishí</option>
                    <option value="5">Pirané</option>
                    <option value="6">Patiño</option>
                    <option value="7">Bermejo</option>
                    <option value="8">Ramon Lista</option> 
                    <option value="9">Matacos</option>
                  </select>
                </div>
                <div class="col-md-3 position-relative">
                  <label for="validationTooltip04" class="form-label">Localidad</label>
                  <select class="form-select" id="selecLocalidad" required>
                    <option selected disabled>Selecciona una opción</option>
                  </select>
                </div>
                <div class="col-md-3 position-relative">
                  <label for="validationTooltip04" class="form-label">Tipo</label>
                  <select class="form-select" id="tipo" required>
                    <option value="1">Política</option>
                    <option value="2">Institucional</option>
                    <option value="3">Educación</option>
                    <option value="4">Religioso</option>
                    <option value="5">Proselitismo</option>
                    <option value="6">Salud</option>
                    <option value="7">Seguridad</option>
                    <option value="8">Eventos Climáticos</option>
                    <option value="9">Hídricos</option>
                  </select>
                </div>
              <div class="col-md-2 position-relative">
                <label for="validationTooltip02" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" value="" required>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltipUsername" class="form-label">Titulo</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="titulo" aria-describedby="validationTooltipUsernamePrepend" required>
                </div>
              </div>             
                <div class="mb-1">
                  <label for="exampleFormControlTextarea1" class="form-label">Informe</label>
                  <textarea class="form-control" id="informe" rows="3" style="height:180px;" required></textarea>
                  <button class="btn btn-success" type="submit">Editar Informe</button>
                  <button class="btn btn-secondary" type="reset">Borrar campos</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="">

  </div>
  <!--scripts Localidades-->
  <script src="/js/app.js"></script>
  <script src="/js/reports/edit.js" ></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>

  <script src="/bootstrap/bootstrap.min.js">
  </script>
    <script src="/js/loaded.js"></script>
    <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>

</html>