<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/bootstrap/bootstrap.min.css" media="print" rel="stylesheet">
  <link href="/bootstrap/bootstrap.min.css"  rel="stylesheet">
  <link rel="stylesheet" media="print" href="/css/style-index.css">
  <link rel="stylesheet"  href="/css/style-index.css">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark header" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
          <div id="title">
            <a class="navbar-brand"  href="/index">Sistema de Gestión de Informes</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header menu">
              <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menú</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Informes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/informes/create">Cargar</a></li>
                      <li><a class="dropdown-item" href="/informes/views">Filtros</a></li>
                      <li><a class="dropdown-item" href="#">Gráficos</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> 
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Personas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ver/personas">Buscar</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuarios
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/view/usuarios">Ver</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Informes" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
              </form>
              
            </div>
            <div id="btn-close">
              <a href="/closeSesion" class="btn btn-danger">Cerrar Sesión</a>
            </div>
          </div>
        </div>
        
      </nav>
  <main>
    <h1>Informes por Departamento</h1>
    <div class="container d-flex flex-wrap" id="div-tarjetas">
    </div>
  </main>
  <br><br>
  <div class=" bg-dark">
    <footer class="py-3 pb-5 ">
      <ul class="nav justify-content-center pb-3 mb-3">
        <p class="text-center text-body-secondary" style="color: white;">© 2023 Todos los derechos reservados.-</p>
      </ul>
    </footer>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/js/reports/filtrosDepar.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
</body>


</html>