<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>Inicio-SGI</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <script src="/sweetalert/sweetalert2@11"></script>
  <script src="/dayjs/dayjs.min.js"></script>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"  href="/css/style.css">

</head>

<body class="hidden">
  <%- include('./partials/headers-aside.ejs');%>



  <div class="graficos col-10 bgForm " style="padding-bottom: 12%;">
    <div class="card shadow mt-2 mb-3">
      <div class="card-body">
        <h2>Informes por Departamento</h2>
      </div>
    </div>
      <div class="d-flex flex-wrap col-12" >
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center text-decoration cardDiv">
            <a href="/informes/1" class="m-5"><h4>Formosa</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/2" class="m-5"><h4>Pilcomayo</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/3" class="m-5"><h4>Laishi</h4></a>
          </div>
        </div>
        <br>
        <div class=" m-3 tarjetas" >
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/4" class="m-5"><h4>Pilagás</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/5" class="m-5"><h4>Pirané</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/6" class="m-5"><h4>Patiño</h4></a>
          </div>
        </div>
        <br>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/7" class="m-5"><h4>Bermejo</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
           <a href="/informes/8" class="m-5"><h4> Ramon Lista</h4></a>
          </div>
        </div>
        <div class=" m-3 tarjetas">
          <div class="card shadow  justify-content-center align-items-center cardDiv">
            <a href="/informes/9" class="m-5"><h4>Matacos</h4></a>
          </div>
        </div>       
      </div>



  </div>

</main>
  <%- include('./partials/footer.ejs');%>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
  <script src="/js/loaded.js"></script>
  <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>


</html>