<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>Inicio-SGI</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <script src="/sweetalert/sweetalert2@11"></script>
  <script src="/dayjs/dayjs.min.js"></script>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"  href="/css/style.css">

</head>

<body>
  <%- include('./partials/headers-aside.ejs');%>
  <div class="graficos col-10 bgForm ">
    <div class="container">
      <div class="row" style="padding-left: 80px;">
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center text-decoration ">
            <a href=""><h4>Formosa</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Pilcomayo</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Laishi</h4></a>
          </div>
        </div>
        <br>
        <div class="col-3 m-2" >
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Pilaghas</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Pirané</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Patiño</h4></a>
          </div>
        </div>
        <br>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Bermejo</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
           <a href=""><h4> Ramon Lista</h4></a>
          </div>
        </div>
        <div class="col-3 m-2">
          <div class="card shadow tarjetas justify-content-center align-items-center ">
            <a href=""><h4>Matacos</h4></a>
          </div>
        </div>
        
      </div>
    </div>



  </div>

</main>
  <%- include('./partials/footer.ejs');%>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
  <script src="/js/graphics/app.js"></script>
  <script src="/js/loaded.js"></script>
  <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>


</html>