
#panel-busqueda{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding-bottom: 10px;
}
#title{
    padding-left: 37%;
}
#btn-close{
    padding-left: 70%;
}
#footerView{
    margin-top: 20%;
}


#icon-Search{
    width: 15px;  
    padding-bottom: 5px;
}
