h1{
    padding-left: 80px;
    font-size: 30px;
    padding-bottom: 50px;

}
.form-cargar{
    padding-left: 80px;
    padding-right: 80px;
}
#informe{
    height: 250px;
    
}
#title{
    padding-left: 37%;
}
body{
    background-color: rgb(228, 228, 228);
}
#btn-close{
    padding-left: 70%;
}
/* .seccionInforme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; */

.seccionInforme div{
    padding-right:40px ;
}
/* #localidad{
    padding-left: 15%;
}
#fecha{
    padding-left: 10%;
}
#titulo{
    margin-top: 20%;
    padding-left: 15%;
}
#tipo{
    margin-top: 60px;
}
.Informe{
    margin-top: 60px;
} */

.observaciones{
    padding-left: 40%;
}