
body{
    background-color: rgb(238, 238, 238);
}
#btn-submit{
    width: 200px;
}
#formLogin{
    margin-top:85px ;
    border-radius: 5px;
    background-color: white;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: small;
}
#icons{
    margin-top: 15px;
    padding-left: 40px;
    padding-bottom: 5px;
}
#home{
    color: white;
}
#home:hover{
    color: #72a7f5;
}
.aside{
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(196, 196, 196);
}
.bgForm{
    background-color: rgb(238, 237, 237);
}
#iconPerson{
    width: 30px;
}
li{
    border-radius: 10px;
}
li:hover{
    background-color: rgb(211, 211, 211);
}
#footerView{
    background-color: #0a377a;
    position:relative;
    bottom: 1;
    width: 100%;
}
.graficos .card{
    width: 90%;
    margin: 2px;
}
.contentCanvas{
    margin: 10px;
}