h1{
    padding-left: 80px;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 5px;

}
#title:hover{
    color: grey;
}
body{
    background-color: #e0e0e0;
    font-size: small;
}
.menu{
    border-bottom: 1px solid #e0e0e0d3;
}
#div-tarjetas{
    padding-left: 80px;
}
.tarjetas{
    width: 200px;
    height: 200px;
    padding-right: 30px;    
}
.tarjetas .card-body{
    height: 180px;
    background-color: white;
    box-shadow: 5px 5px 15px gray;
    border-radius: 20px;
    
}
.tarjetas{
    border-radius: 20px;
}
.card{
    border-radius: 20px;
}
.card-body:hover{
    background-color: rgb(212, 212, 212);
}
.cantidad{
    display: flex;
    padding-left: 50px;
    height: 80px;
    align-items: center;
}
#cantFormosa{
    padding-left: 10px;
}
.card-body a{
    margin-left: 30px;
    
}
#title{
    padding-left: 37%;
}
#btn-close{
    padding-left: 70%;
}
nav{
    box-shadow: 5px 5px 15px rgb(75, 75, 75);
}