/* Aminación de carga!  */

.contenedorCarga{
    height: 100vh;
    background-color: #fcfcfcb7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  body{
    background-color: rgb(238, 238, 238);

}
#btn-submit{
    width: 200px;
}
#formLogin{
    margin-top:85px ;
    border-radius: 5px;
    background-color: white;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: small;
}
#icons{
    margin-top: 15px;
    padding-left: 40px;
    padding-bottom: 5px;
    }
#aside{
  background-color: white;
  bottom: 1;
}
#home{
    color: white;
}
#home:hover{
    color: #72a7f5;
}
.bgForm{
    background-color: rgb(228, 228, 228);
}
#iconPerson{
    width: 30px;
}
li{
    border-radius: 10px;
}

.graficos .card{
    width: 100%;
    margin: 2px;
}
.contentCanvas{
    margin: 10px;
}
.btnGraphics{
    background-color: #f0bcc3;
}
.btnGraphics:hover{
    background-color: #bb727c;
}
#footerView{
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 5%;
}
/*      
  vista de informe
*/
#informeView{
    padding-right: 10px;
    margin-bottom: 33%;
}
#imagen{
  margin-top: 10px;
}

#Observaciones{
  color: rgb(0, 0, 0);
}


/*   Inicio   */

.tarjetas{
width: 300px;
height: 130px;
}

.cardDiv:hover{
  background: #b1b1b1;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color:grey
}

.cardDiv{
  border-radius: 15px 50px;
}

#user{
  color: #0A58C8;
}
/*
Vista del perfil
*/ 

#usern{
  margin-top: 55px;
}
#imgProfile{
  margin-left: 60px;
}