h1{
    padding-left: 80px;
    font-size: 30px;
    padding-bottom: 3%;

}
.input{
    box-shadow: 1px 1px 3px gray;
}
#headers{
    box-shadow: 5px 5px 15px rgb(75, 75, 75);
}
.form-cargar{
    padding-left: 80px;
    padding-right: 80px;
}
#informe{
    height: 250px;
    
}
#title{
    padding-left: 37%;
}
#title:hover{
    color: gray;
}
body{
    background-color: rgb(230, 222, 222);
    font-size: small;
}
#btn-close{
    padding-left: 70%;
}
#seccionInforme div{
    padding-right:40px ;
}
.Informe-Completo{
    padding-top: 15px;
    padding-left: 70px;
    padding-bottom: 5px;
    font-size: 15px ;
}
#formNuevoInforme{
    padding-left: 5%;
    padding-right: 5%;
}
.observaciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#seccionInforme{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
}
#tituloInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


}
.btn-imprimir{
    margin-left: 93.5%;   
}
#img-imprimir{
    width: 30px;
}
.menu{
    border-bottom: 1px solid #e0e0e0d3;
}
.header{
    box-shadow: 5px 5px 15px rgb(75, 75, 75);
}
#seccionPersonas{
    border-bottom:  1px solid #333333d3; ;
}
.lugar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}