<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>Localidades-SGI</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <script src="/sweetalert/sweetalert2@11"></script>
  <script src="/dayjs/dayjs.min.js"></script>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"  href="/css/style.css">

</head>

<body>
  <%- include('../partials/headers-aside.ejs');%>
  <div class=" graficos col-7 bgForm d-flex flex-wrap mb-5" style="margin-top: 75px;">
    <div class="col-12">
      <div class="card" id="card">
        <div class="contentCanvas col-12" id="contentCanvas">
          <h4 class="card-title" id="title">Informes por Departamento</h4>
          <canvas class="" id="grafica"></canvas>
        </div>
      </div>
    </div>
      </div>
      <div class=" col-md-2 card  bg-white" style="margin-top: 76px; height: 10%;">
        <div class="card-header">
          <span>Ingrese fechas</span>
        </div>
        <div class="m-3 ">

          <div class="d-flex flex-column">
            <span>Inicio</span>
            <input class="form-control" type="date" id="fechaInicio">
            <span>Final</span>
            <input class="form-control" type="date" id="fechaFinal">

            <button class="btn btn-primary mt-2" id="btn-buscar">Buscar</button>
          </div>
        </div>
        <div class="card-footer"></div>
        </div>
      </div>
    </div>
</main>

  <%- include('../partials/footer.ejs');%>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
  <script src="/js/graphics/fecha.js"></script>
  <script src="/js/loaded.js"></script>
  <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>


</html>