<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>SGI - Inicio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/img/informe.ico" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../partials/Sidebar.ejs');%>
            <!-- Sidebar End -->
            <!-- Content Start -->
            <div class="content">
                <!-- Navbar Start -->
                <%- include('../partials/Navbar.ejs');%>
                    <!-- Navbar End -->

                    <!-- Chart informes pendientes -->
                    <div class="container-fluid pt-4 px-4 ">
                        <div class="card vh-120 bg-light rounded shadow-sm  mx-0">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="card m-4">
                                        <div class="card-header">
                                            <h6 class="">
                                                <img src="/img/grafico.png" alt="icono-grafica" class="icon-medium me-2">
                                                Cantidad de Informes por Departamento</h6>
                                        </div>
                                        <div class="col-sm-12 col-xl-12">
                                            <div class=" rounded h-50qw  p-4 mt-4">
                                                <canvas id="bar-chart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card m-4">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h6 class="">
                                                    <img src="/img/analitica.png" alt="analitica" class="icon-medium me-2">
                                                    Ultimos informes cargados </h6>
                                                <a href="/informes/filtros">Ver Todos</a>
                                            </div>
                                        </div>
                                        <div class="container-fluid pt-4 px-4" style="max-height: 280px; overflow-y: auto;">
                                            <div class="text-center rounded ">
                                                <div class="table-responsive" id="tableNotCompleted">
                                                    <table class="table table-striped table-sm table-bordered table-hover text-start align-middle " aria-label="Tabla de registros no completados">
                                                        <thead class="table-primary text-white">
                                                            <tr class="text-dark text-center">
                                                                <th scope="col">Departamento</th>
                                                                <th scope="col">Fecha</th>
                                                                <th scope="col">Tipo</th>
                                                                <th scope="col">Título</th>
                                                                <th scope="col">Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="registros">
                                                            <!-- Registros dinámicos -->
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- Content End -->
                    <!-- Back to Top -->

            </div>

            <!-- JavaScript Libraries -->
            <script src="/jquery/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/lib/chart/chart.min.js"></script>
            <script src="/lib/easing/easing.min.js"></script>
            <script src="/lib/waypoints/waypoints.min.js"></script>
            <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/lib/tempusdominus/js/moment.min.js"></script>
            <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
            <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
            <script src="/popper/popper.min.js">
            </script>
            <script src="/js/main.js"></script>

            <script src="/bootstrap/bootstrap.min.js"></script>
            <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
            <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
            <!-- Template Javascript -->
            <script src="/js/dashboard/main.js"></script>
</body>

</html>
