<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>SGI - Crear</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="/img/informe.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sidebar Start -->
    <%- include('../partials/Sidebar.ejs');%>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      <%- include('../partials/Navbar.ejs');%>
      <!-- Navbar End -->
      <main>
        <!-- Chart informes pendientes -->
        <div class="container-fluid px-4">
          <div class="row vh-100 bg-light rounded d-flex mx-0">
            <div class="container col-12">
              <div class="card mt-2 shadow">
                <div class="card-body ">
                  <h5 class="" id="titleEstado"> Informe Completo </h5>
                </div>
              </div>
              <div class="row" id="rowPrincipal">
                <div class="col-6" id="titleContainer">
                  <div class=" mt-2">

                      <div class="card shadow">
                        <div class="container mt-3 mb-3" id="titles">
                        </div>
                      </div>
                  </div>
                  <div class="" id="imageContainer">
                    <div class="mt-2 " id="imagen">
                      <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/img/noDisponible.avif" class="d-block w-100 rounded" alt="..." id="firstImg"
                              style="height: 300px;">
                            <span class="d-flex justify-content-center align-items-center" id="descriptionOne"></span>
                          </div>
                          <div class="carousel-item">
                            <img src="/img/noDisponible.avif" class="d-block w-100 rounded" alt="..." id="secondtImg"
                              style="height: 300px;">
                            <span class="d-flex justify-content-center align-items-center" id="descriptionTwo"></span>
                          </div>
                          <div class="carousel-item">
                            <img src="/img/noDisponible.avif" class="d-block w-100 rounded" alt="..." id="thirdImg"
                              style="height: 300px;">
                            <span class="d-flex justify-content-center align-items-center" id="descriptionTree"></span>
                          </div>
                          <div class="carousel-item">
                            <img src="/img/noDisponible.avif" class="d-block w-100 rounded" alt="..." id="fourtImg"
                              style="height: 300px;">
                            <span class="d-flex justify-content-center align-items-center" id="descriptionFour"></span>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                          data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                          data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
  
                      <div class="d-flex justify-content-center align-items-center"><span id="Observaciones"></span></div>
                    </div>
                  </div>
                  <button class="btn btn-primary col-12 mt-1" data-bs-toggle="modal" data-bs-target="#modalFiles"
                    style="color: white;">Adjuntar archivos</button>
                </div>
                <div class="col-6" id="reportContainer">
                  <div class="card mt-2 shadow">
                    <div class="row">
                      <div class="d-flex justify-content-end align-items-center" id="print" style="position: absolute;">
                      </div>
                    </div>
                    <div class="m-3 d-flex justify-content-center" id="titleReport">

                      <!-- Contenido del div #titleReport -->
                    </div>

                    <div class="container d-flex align-items-center justify-content-center" 
                    style="font-size: small; height: 230px; overflow-y: auto;" 
                    id="informeView">
                 <!-- Contenido del div #informe -->
               </div>
                    <!--modal-->
                    <div class="modal fade" id="modalCategoryCreate" tabindex="-1"
                      aria-labelledby="modalCategoryCreateLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalCategoryCreateLabel">Personas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="" id="formPerson" enctype="multipart/form-data">
                            <div class="modal-body">

                              <div class="mb-3">
                                <label for="dni" class="form-label">DNI</label>
                                <input type="text" class="form-control" id="dni" name="dni" placeholder="41176787">
                              </div>
                              <div class="mb-3">
                                <label for="lastName" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                              </div>
                              <div class="mb-3">
                                <label for="firstName" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="firstName" name="firstName">
                              </div>
                              <div class="mb-3">
                                <label for="address" class="form-label">Domicilio</label>
                                <input type="text" class="form-control" id="address" name="address">
                              </div>
                              <div class="mb-3">
                                <label for="address" class="form-label">Clase</label>
                                <input type="number" class="form-control" id="fechaNac" name="fechaNac">
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Celular</label>
                                <input type="number" class="form-control" id="phone" name="phone"></input>
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Correo Electrónico</label>
                                <input type="text" class="form-control" id="mail" name="mail"></input>
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Situación Laboral</label>
                                <input type="text" class="form-control" id="work" name="work"></input>
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Facebook</label>
                                <input type="text" class="form-control" id="facebook" name="facebook"></input>
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Instagram</label>
                                <input type="text" class="form-control" id="instagram" name="instagram"></input>
                              </div>

                              <div class="mb-3">
                                <label for="description" class="form-label">Observaciones</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="rutaImagen" class="form-label">Adjuntar Foto</label>
                                <input type="file" class="form-control" id="rutaImagenPerson"
                                  name="rutaImagenPerson"></input>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button class="btn btn-secondary" type="reset">Borrar Campos</button>
                              <button id="cargarPersona" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!--Modal files-->
                    <div class="modal fade" id="modalFiles" tabindex="-1" aria-labelledby="modalCategoryCreateLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalCategoryCreateLabel">Imagenes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="" id="formFiles" enctype="multipart/form-data">
                            <div class="modal-body">
                              <div class="mb-3">
                                <label for="address" class="form-label">Archivos</label>
                                <input type="file" class="form-control" id="rutaImagen" name="rutaImagen">
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descriptions" name="descriptions"></textarea>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button class="btn btn-secondary" type="reset">Borrar Campos</button>
                              <button id="cargarImagen" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-5" id="personContainer" style="background-color: rgb(233, 233, 233); font-size: small;">
                    <div class="card shadow mt-2">
                      <div class="card-body">
                        <div class="mb-1" id="seccionPersonas" >
                          <div id="cantPersonas"></div>
                          <div class="container table table-responsive" >
                            <div class="table-responsive">
                              <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modalCategoryCreate">
                                Agregar personas
                              </button>
                              <table class=" table table-bordered table-hover table-striped mt-2" id="tablaInformes">
                                <thead class="table-primary">
                                  <tr>
                                    <th>DNI</th>
                                    <th>Apellido</th>
                                    <th>Nombress</th>
                                    <th>Clase</th>
                                    <th>Domicilio </th>
                                  </tr>
                                </thead>
                                <tbody id="personas">

                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div>
                            <div class="container mb-5">
                              <div class="row" id="formPeople">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
            <!-- Chart informes pendientes End -->
      </main>
      <!-- Footer Start -->
      <div class="container-fluid px-4" id="Footer">
        <div class="bg-light rounded-top p-4">
          <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
              &copy; <a href="#">Sistema de Gestión de Informes</a>, 2025.
            </div>
            <!-- <div class="col-12 col-sm-6 text-center text-sm-end">
                            /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div> -->
          </div>
        </div>
      </div>
      <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
  </div>
  </div>
  <!-- JavaScript Libraries -->
  <script src="/jquery/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/chart/chart.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/tempusdominus/js/moment.min.js"></script>
  <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="/popper/popper.min.js">
  </script>
  <script src="/js/main.js"></script>
  <script src="/sweetalert/sweetalert2@11"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
  <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
  <!-- Template Javascript -->
  <script src="/js/report/showReport.js"></script>
</body>

</html>