<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>SGI - Crear</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/img/informe.ico" rel="icon">

    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../partials/Sidebar.ejs');%>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
        <%- include('../partials/Navbar.ejs');%>
            <!-- Navbar End -->
          <main>
            <div class="container  ">
              <div class=" bg-light">
                <div class=" m-2">
                  <div class="card-body">
                    <nav class="navbar navbar-light" aria-label="First navbar example">
                      <div class="container-fluid d-flex flex-row">
                        <div class="seccionBuscar">
                        <span><b>Buscar por:</b> </span><button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <img id="icon-Search" style="width: 30px" src="/img/documento.png" alt=""></button>
                      </div>
                        <div class="navbar-collapse collapse" id="navbarsExample01">
                          <br>
                          <div class="form-cargar" id="panel-busqueda">
                            <form id="formSearch" action="" class="row g-3 needs-validation" id="formNuevoInforme">
                                <div class="col-md-3 position-relative">
                                    <label for="validationTooltip04" class="form-label">Departamento</label>
                                    <select class="form-select" id="selecDepartamento" >
                                      <option selected disabled value="">Selecciona una opción</option>
                                      </select>
                                  </div>
                                  <div class="col-md-3 position-relative">
                                    <label for="validationTooltip04" class="form-label">Localidad</label>
                                    <select class="form-select" id="selecLocalidad" >
                                      <option selected disabled value="">Selecciona una opción</option>
                                    </select>
                                  </div>
                                  <div class="col-md-3 position-relative" id="divTipo">
                                    <label for="validationTooltip04" class="form-label">Tipo</label>
                                    <select class="form-select" id="tipo" >
                                      <option selected disabled value="">Selecciona una opción</option>
                                      <option value="1">Política</option>
                                      <option value="2">Institucional</option>
                                      <option value="3">Educación</option>
                                      <option value="4">Religioso</option>
                                      <option value="5">Proselitismo</option>
                                      <option value="6">Salud</option>
                                      <option value="7">Seguridad</option>
                                      <option value="8">Eventos Climáticos</option>
                                      <option value="9">Hídricos</option>
                                      <option value="10">Personalizado</option>
                                    </select>
                                  </div>
                                  <div class="col-md-2 position-relative">
                                    <label for="validationTooltip02" class="form-label">Fecha Inicio</label>
                                    <input type="date" class="form-control" id="fechaInicio" value="" >
                                  </div>
                                  <div class="col-md-2 position-relative">
                                    <label for="validationTooltip02" class="form-label">Fecha Final</label>
                                    <input type="date" class="form-control" id="fechaFinal" value="" >
                                  </div>
                                  <div class="col-md-2 position-relative">
                                    <label for="validationTooltipUsername" class="form-label">Titulo</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="titulo" aria-describedby="validationTooltipUsernamePrepend" >
                                    </div>
                                  </div>
                                  <div class="col-md-3 position-relative">
                                    <label for="validationTooltipUsername" class="form-label">Palabras claves</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="informe" aria-describedby="validationTooltipUsernamePrepend" >
                                    </div>
                                  </div>
                                  <div class=" position-relative">
                                    <button type="submit" class="btn btn-outline-success">Buscar</button>
                                  </div>
                                </form>
                        </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
        
            </form>
            <div class=" bg-light m-2 shadow">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="col ">
                      <table class=" table table-bordered table-hover table-striped" id="tablaInformes">
                          <thead class="table-primary">
                              <tr>
                                  <th>Departamento</th>
                                  <th>Localidad</th>
                                  <th>Tipo</th>
                                  <th>Fecha </th>
                                  <th>Título </th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody  id="registros">
                
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
            </div>
            </div>
          </div>
          </main>
            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Sistema de Gestión de Informes</a>, 2023. 
                        </div>
                        <!-- <div class="col-12 col-sm-6 text-center text-sm-end">
                            /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
    </div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/popper/popper.min.js">
    </script>
    <script src="/js/main.js"></script>
    <script src="/sweetalert/sweetalert2@11"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/chart.js/cdn.jsdelivr.net_npm_chart.js@latest_dist_Chart.min.js"></script>
    <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
    <!-- Template Javascript -->
    <script src="/js/departament/main.js"></script>
    <script src="/js/localities/main.js"></script>
    <script src="/js/report/formFilterManager.js"></script>
</body>

</html>