<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>SGI - CARGAR INFORMES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style-views.css">
<script src="/sweetalert/sweetalert2@11"></script>
<script src="/dayjs/dayjs.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark header" aria-label="Dark offcanvas navbar" id="headers">
    <div class="container-fluid" >
      <a class="navbar-brand" id="title" href="/index">Sistema de Gestión de Informes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header menu">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menú</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/informes/create">Cargar</a></li>
                  <li><a class="dropdown-item" href="/informes/views">Filtros</a></li>
                  <li><a class="dropdown-item" href="/informes/graficos">Gráficos</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Buscar</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/view/usuarios">Ver</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Informes" aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
          
        </div>
        <div id="btn-close">
          <a href="/closeSesion" class="btn btn-danger">Cerrar Sesión</a>
        </div>
      </div>
    </div>
    
  </nav>
  <main>

    <div class="container">
      <br>
      <div class="container">
        <div class="row">
        <div class="card col-6">
            <div class="card-body">
              <h5 class="card-title">Buscar Personas</h5>
              <div class="">
                  <div id="">
                    <br>
                      <div style="padding-left: 70px;">
                        <form id="find" >
                          <label for="validationDefault01" class="form-label"><b><u>DNI</u></b></label>
                          <div class="col-6">
                            <input type="text" class="form-control" id="dni"name="dni" placeholder="32190897" required>
                          </div>
                          <br>
                          <button class='btn btn-success'>Buscar</button>
                        </form>
                      </div>
                      </div>
                  </div>
                </div>
                  </div>
                  <div class="card col-6">
                    <div class="card-body">
                      <div class=""id="seccionBuscar">
                      </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        <br><br>
        <div class="container">
          <div class="container">
          <div class="row">
            <div class="card col-sm-12">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="">
                      <table class=" table table-bordered table-hover table-striped" id="tablaInformes">
                          <thead class="table-primary">
                              <tr>
                                  <th>Departamento</th>
                                  <th>Localidad</th>
                                  <th>Tipo</th>
                                  <th>Fecha </th>
                                  <th>Título </th>
                                  <th>Informe</th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody  id="registros">
                
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
            </div>
        </div>

          </div>
        </div>
      </div>

    </div>
  </main>
  <br>
  <div class=" bg-dark" id="footerView">
    <footer class="py-3 pb-5 ">
      <ul class="nav justify-content-center pb-3 mb-3">
        <p class="text-center text-body-secondary" style="color: white;">© 2023 Todos los derechos reservados.-</p>
      </ul>
    </footer>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/js/person/view.js"></script>
  <script src="/bootstrap/bootstrap.min.js">
  </script>
</body>

</html>