<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>SGI-Usuarios</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script src="/sweetalert/sweetalert2@11"></script>
<script src="/dayjs/dayjs.min.js"></script>
</head>

<body>
  <%- include('../partials/headers-aside.ejs');%>
  <div class="col-9 bgForm" style="margin-bottom: 20%; margin-top: 70px;" id="profile">
    <div class="card shadow m-1">
      <div class="card-body">
        <h4 class="card-title">Perfil de Usuario</h4>
      </div>
    </div>

        <div class="row bg-white border shadow pb-5  d-flex m-2">
            <div class="col-4 py-2">
              <img id="imgProfile"src="/css/images/perfil.png" style="width: 70%;" alt="">
            </div>
            <div class="col-6 bg-white py-2">
                  <h4 class="" id="usern">Usuario: No disponible</h4>
                  <h4 class="mt-4" id="nameComplete">Apellido y nombre: No disponible</h4>
                  <h4 class="mt-4" id="role">Rol: No disponible</h4>
                  <h4 class="mt-4" id="createAt">Fecha de creacion:No disponible</h4>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <a href="/usuario/edit/<%= uid %>" class="btn btn-outline-secondary" id="btnEdit">Modificar</a>
            </div>
</div>
</div>
  </div>
  </main>
  <!-- <%- include('../partials/footer.ejs');%> -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/bootstrap/bootstrap.min.js">
  </script>
  <script src="/js/users/profileShow.js" ></script>
    <script src="/js/loaded.js"></script>
    <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>

</html>