<!doctype html>
<html lang="es">

<head>
  <title>Crear Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/sweetalert/sweetalert2@11"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

</head>

<body class="">
  <%- include('../partials/headers-aside.ejs');%>
      <div class="container form-crear col-10 bgForm" style="margin-top: 70px;">
        
        <div class="card mt-2 mb-3">
          <div class="card-body">
            <h2>Crear Usuario</h2>
          </div>
        </div>

        <form method="POST" class=" d-flex flex-wrap p-4 rounded border border-2 shadow-sm  gap-2 bg-white mb-5" id="formNuevoUsuario">
            <div class="col-md-5 mt-2  mb-3">
              <label  class="form-label">Apellido <small class="text-danger">(*)</small></label>
              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Ingrese su apellido" required>
            </div>
            <div class="col-md-5  mt-2 mb-3">
              <label class="form-label">Nombres <small class="text-danger">(*)</small></label>
              <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Ingrese su nombre" required>
            </div>
            <div class="col-md-5  mt-2 mb-3">
              <label class="form-label">Usuario <small class=" text-danger">(*)</small></label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su nombre de usuario" required>
            </div>
            <div class="col-md-5  mt-2 mb-3">
              <label class="form-label">Rol <small class=" text-danger">(*)</small></label>
              <select class="form-select" name="rol" id="rol" required>
                <option value="User">Usuario</option>
                <option value="Moderate">Administrador</option>
                <option value="Other">Visualizador</option>
              </select>
            </div>

              <div class="gap-2 col-md-5  mt-2 mb-3">
                <label class="form-label">Contrase単a <small class=" text-danger">(*)</small></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su contrase単a" required>
              </div>

            <div class="col-md-5 mt-2 mb-3">
              <label class="form-label">Confirmar Contrase単a <small class=" text-danger">(*)</small></label>
              <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Repetir su contrase単a" required>
            </div>
            <div class="col-md-8 mb-3">
              <button class="btn btn-primary" type="submit">Guardar</button>
              <button class="btn btn-secondary" type="reset">Borrar formulario</button>
            </div>
          </form>
          <br><br><br><br><br>
      </div>  
      <%- include('../partials/footer.ejs');%>

      <script src="/js/create.js"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/popper/popper.min.js">
  </script>
  <script src="/bootstrap/bootstrap.min.js">
  </script>  
  <script src="/js/loaded.js"></script>
  <script src="/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
</body>

</html>