<!doctype html>
<html lang="es">

<head>
  <link rel="icon" href="/css/images/OIG.png">
  <title>SGI - CARGAR INFORMES</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style-views.css">
<script src="/sweetalert/sweetalert2@11"></script>
<script src="/dayjs/dayjs.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
          <a class="navbar-brand" id="title" href="/index">Sistema de Gestión de Informes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menú</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Informes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/informes/create">Cargar</a></li>
                      <li><a class="dropdown-item" href="/index">Filtros</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Personas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ver/personas">Buscar</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Informes" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
  <main>
  
    <div class="container">
      <div class="container d-flex justify-content-center">
        <h2>Usuarios del Sistema</h2>
      </div>
      <div class="row mt-5 table-responsive">
        <div class="col">
          <a href="/view/usuarios/create" class="btn btn-success mb-2">Crear Usuario</a>
            <table class="table table-bordered table-hover bg-white ">
                <thead class="table-success">
                    <tr>
                        <th>Usuario</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Función</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody  id="usuarios">
                </tbody>
            </table>
        </div>
    </div>
  </main>
  <div class="footer bg-dark">
    <footer class="py-3 ">
      <ul class="nav justify-content-center pb-3 mb-3">
        <p class="text-center text-body-secondary" style="color: white;">© 2023 Todos los derechos reservados.-</p>
      </ul>
    </footer>
  </div>
  <script src="/popper/popper.min.js">
  </script>
  <script src="/js/users/obtenerUsuarios.js"></script>
  <script src="/bootstrap/bootstrap.min.js">
  </script>
</body>

</html>